:root {
  --primary-color: rgb(250, 250, 250);
  --button-color: rgb(238, 238, 238);
  --button-font: rgba(0, 0, 0, 0.5);
  --button-shadow: rgba(0, 0, 0, 0.3);
  --button-highlight: rgba(255, 255, 255, 0.7);
  --display-main-font: rgba(0, 0, 0, 0.55);
  --display-secondary-font: rgba(34, 34, 34, 0.5);
  --calculator-body: rgba(246, 246, 246, 1);
  --calculator-highlight: rgba(255, 255, 255, 0.5);
  --calculator-shadow: rgba(0, 0, 0, 0.1);
  --display-highlight: rgba(230, 230, 230, 0.5);
  --gradient-beginning: #fd746c;
  --gradient-end: #ff9068;
}
/* :root {
  --primary-color: #23262a;
  --button-font: rgba(251, 251, 251, 0.5);
  --button-shadow: rgba(0, 0, 0, 0.5);
  --button-highlight: rgba(64, 64, 64, 0.5);
  --display-main-font: rgba(251, 251, 251, 0.55);
  --display-secondary-font: rgba(230, 230, 230, 0.5);
  --calculator-highlight: rgba(64, 64, 64, 0.3);
  --calculator-shadow: rgba(0, 0, 0, 0.6);
  --display-highlight: rgba(64, 64, 64, 0.5);
  --gradient-beginning: #7c312c;
  --gradient-end: #f5632f;
} */
html {
  font-size: 10px;
  background: var(--primary-color);
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}
/* button styling */
button {
  width: 100%;
  background-color: var(--button-color);
  border: none;
  height: 6rem;
  font-size: 1.9rem;
  color: var(--button-font);
  border-radius: 30px;
  font-family: ubuntu, sans-serif;
  cursor: pointer;
  box-shadow: 4px 4px 3px 0 var(--button-shadow),
    -4px -4px 5px 0 var(--button-highlight);
  display: flex;
  justify-content: center;
  align-items: center;
}
.head > button,
.subhead > button,
.op-body > button {
  font-size: 2rem;
}
#divide {
  font-size: 2.2rem;
}
#subtract {
  font-size: 2.7rem;
}
.subhead button,
.op-body button {
  color: var(--gradient-beginning);
}
button.deleter {
  color: #6cadfd;
}
#pos-neg {
  color: var(--button-font);
}
button:hover {
  box-shadow: 1px 1px 5px 0 var(--button-shadow),
    -1px -1px 5px 0 var(--button-highlight);
}
button.active,
button:active {
  box-shadow: 1px 1px 5px 0 var(--button-shadow),
    -1px -1px 5px 0 var(--button-highlight),
    inset 4px 4px 3px 0 var(--button-shadow),
    inset -2px -2px 3px 0 var(--button-highlight);
}
.glow {
  transition: all 300ms ease-out;
}
#equal.active,
#equal:hover {
  background-image: linear-gradient(
    135deg,
    var(--gradient-beginning) 0%,
    var(--gradient-end) 100%
  );
  -webkit-text-fill-color: var(--primary-color);
  -webkit-background-clip: border-box;
}
.glow.active,
button:hover > .glow {
  background-image: linear-gradient(
    to right,
    var(--gradient-beginning) 0%,
    var(--gradient-end) 51%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

#paper {
  width: 50%;
  background: var(--primary-color);
  min-height: 80vh;
}
/* calculator styling */
#calculator {
  min-width: 325px;
  max-width: 462px;
  width: 50%;
  background: var(--calculator-body);
  border-radius: 10px 10px 30px 30px;
  box-shadow: -30px -30px 30px 0 var(--calculator-highlight),
    30px 30px 30px 0 var(--calculator-shadow);
}
#display {
  width: 90%;
  border-radius: 10px;
  margin: 25px auto 0 auto;
  display: flex;
  flex-direction: column;
  height: 15rem;
  font-family: "ubuntu mono", sans-serif;
  background-color: var(--button-color);
  box-shadow: inset 8px 8px 8px 0 var(--calculator-shadow),
    inset -4px -4px 5px 0 var(--calculator-shadow);
  box-sizing: border-box;
  text-align: right;
  /*border: 1px solid rgb(238, 238, 238);*/
  border: 1px solid var(--calculator-highlight);
}
#display-main {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 70%;
  font-size: 3rem;
  color: var(--display-main-font);
  margin-right: 6%;
  letter-spacing: 0.2rem;
  overflow: hidden;
}
#display-secondary {
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 40%;
  font-size: 1.7rem;
  color: var(--display-secondary-font);
  margin-left: 6%;
  letter-spacing: 0.1rem;
}
.grid-gap {
  grid-gap: 10px 10px;
}
#calculator-body {
  padding: 25px 25px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    "head head head op"
    "subhead subhead subhead op"
    "num num num op"
    "num num num op"
    "num num num equal"
    "zero zero dec equal";
}
.head {
  grid-area: head;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.subhead {
  grid-area: subhead;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.num-body {
  grid-area: num;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.op-body {
  grid-area: op;
  display: flex;
  flex-direction: column;
}
#equal {
  border: 5px solid var(--button-color);
  background-image: linear-gradient(
    315deg,
    var(--gradient-beginning) 0%,
    var(--gradient-end) 100%
  );
  color: var(--button-color);
  font-weight: bold;
  font-size: 2rem;
  grid-area: equal;
  height: 100%;
  transition: all 100ms ease-out;
}
#zero {
  grid-area: zero;
}
#dec {
  grid-area: dec;
}
input {
  margin-top: 50px;
  position: relative;
  outline: 0;
  border: none;
  width: 110px;
  height: 50px;
  border-radius: 50px;
  box-shadow: -8px -4px 8px 0 var(--calculator-highlight),
    8px 4px 12px 0 var(--calculator-shadow),
    inset 4px 4px 4px 0 var(--calculator-shadow),
    inset -4px -4px 4px 0 var(--calculator-highlight);
  -webkit-appearance: none;
}
input:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 45px;
  width: 45px;
  background: var(--button-color);
  box-shadow: -8px -4px 8px 0 var(--button-highlight),
    8px 4px 12px 0 var(--button-shadow);
  border-radius: 40px;
  outline: none;
  cursor: pointer;
  transition: all 800ms;
}
input:checked:before {
  transform: translateX(65px);
}
input:after {
  content: "Dark";
  color: var(--button-font);
  position: absolute;
  left: 55px;
  top: 15px;
}
input:checked:after {
  content: "Light";
  left: 20px;
}
